.connection-form {
  background-color: var(--color-primary);
  border: var(--border-primary);
  border-radius: 3px;

  display: flex;
  flex-direction: column;

  padding: 2.4rem;
}
.connection-form__username {
  margin-bottom: 3.2rem;
}
.connection-form__gender-selection {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 3.2rem;
}

.connection-form__gender-selection > *:not(:last-child) {
  margin-right: 3.2rem;
}
