.connection-form {
  background-color: var(--color-primary);
  border: var(--border-primary);
  border-radius: 3px;
  align-self: center;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  padding-top: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 0;
  padding-left: 2.4rem;
}
.connection-form__username {
  margin-bottom: 3.2rem;
}
.connection-form__gender-selection {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 3.2rem;
}

.connection-form__gender-selection > *:not(:last-child) {
  margin-right: 3.2rem;
}

.connection-form__error {
  margin: 0.8rem;
  color: var(--color-red);
  opacity: 0.9;
  font-size: 1.2rem;
  text-align: center;
}
