.msg {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.msg .bubble {
  float: left;
  max-width: 75%;
  width: auto;
  height: auto;
  display: block;
  background: var(--color-bubble);
  border-radius: 5px;
  position: relative;
  margin: 3px 0 3px 25px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.msg .bubble.alt {
  margin: 10px 25px 3px 0px;
  background: #dcf8c6;
  float: right;
}

.msg .bubble.follow {
  margin: 2px 0 3px 25px;
}

.msg .bubble.altfollow {
  margin: 2px 25px 3px 0px;
  background: var(--color-bubble-me);
  float: right;
}

.msg .bubble .txt {
  padding: 8px 0 8px 0;
  width: 100%;
}

.msg .bubble .txt .message {
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px 0 15px;
  margin: auto;
  color: var(--color-font-primary);
  opacity: 0.7;
  display: table;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.msg .bubble .txt .message.follow {
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px 0 15px;
  margin: auto;
  color: var(--color-font-bubble-me);
  display: table;
  opacity: 0.9;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.msg .bubble .txt .timestamp {
  font-size: 11px;
  margin: auto;
  padding: 0 15px 0 0;
  display: table;
  float: right;
  position: relative;
  text-transform: uppercase;
  color: var(--color-font-primary);
  opacity: 0.5;
}

.msg .bubble .txt .timestamp.follow {
  font-size: 11px;
  margin: auto;
  padding: 0 15px 0 0;
  display: table;
  float: right;
  position: relative;
  text-transform: uppercase;
  color: var(--color-font-bubble-me);
  opacity: 0.5;
}

.msg .bubble .bubble-arrow {
  position: absolute;
  float: left;
  left: -11px;
  top: 0px;
}

.msg .bubble .bubble-arrow.alt {
  bottom: 20px;
  left: auto;
  right: 4px;
  float: right;
}

.msg .bubble .bubble-arrow:after {
  content: '';
  position: absolute;
  border-top: 15px solid var(--color-bubble);
  border-left: 15px solid transparent;
  border-radius: 4px 0 0 0px;
  width: 0;
  height: 0;
}

.msg .bubble .bubble-arrow.alt:after {
  border-top: 15px solid var(--color-bubble-me);
  transform: scaleX(-1);
}

@media only screen and (max-width: 450px) {
  .container {
    width: 100%;
  }

  .timestamp {
    display: none;
    color: red;
  }
}
.message-link:link,
.message-link:visited {
  color: var(--color-font-primary);
  opacity: 1;
}

.message-link.follow:link,
.message-link.follow:visited {
  color: var(--color-font-bubble-me);
  opacity: 1;
}
