/* .app {
  height: 100vh;
  position: relative;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
} */

.app {
  grid-template-columns:
    [full-start] minmax(0, 0) [main-start] 1fr
    [main-end] minmax(0, 0) [full-end];
  grid-template-rows:
    [header-start] 6.4rem [header-end main-start] minmax(0px, 1fr)
    [main-end footer-start] 3.2rem[footer-end];
  position: relative;
  height: 100vh;
  display: grid;
}
@media screen and (max-width: 500px) {
  .app {
    grid-template-columns:
      [full-start] minmax(0, 0) [main-start] 1fr
      [main-end] minmax(0, 0) [full-end];
    grid-template-rows:
      [header-start] 6.4rem [header-end main-start] minmax(0px, 1fr)
      [main-end footer-start] 3.2rem[footer-end];
    position: relative;
    height: 100%;
    min-height: 100vh;
    display: grid;
  }
}
.app.light {
  background-image: url(./assets/img/pattern-background_light.png);
  transition: all 0.3s;
}
.app.dark {
  background-image: url(./assets/img/pattern-background_dark.png);
  transition: all 0.3s;
}

.app::after {
  content: '';
  background-color: var(--color-background);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
