.app {
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
}

.app::after {
  content: '';
  background-image: url(./assets/img/pattern-background.png);
  background-repeat: repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
